body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: midnightblue;
    margin: 0;
    padding: 20px;
}
form{
    background-color: beige;
    width: 200px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 25px;
    margin: 0 auto;
}
h1{
    font-size: larger;
    font-weight: bold;
    text-align: center;
    color: gold;
    padding-bottom: 20px;
}
label{
    display: block;
    margin-bottom: 5px;
    color:royalblue;
    font-weight: 500;
    padding-bottom: 20px;
    line-height:10px;
}
input[type="name"], input[type="email"], input[type="password"]{
    width: 100%;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 25px;
}
input[type="submit"]{
    background-color: darkviolet;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover{
    background-color: dimgray;
}
